.star {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
  }
  
  .star.filled {
    color: #f0b90b; /* Fill color for filled stars */
  }

.rev-form {
    padding-left: 2rem;
    width : 45rem;
}

.sub {
    background-color: rgb(222, 214, 201);
}

.rev-start {
    padding-left: 2rem;
}

.news-outer {
    background-color:#f3f3f3;
}

.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.heading {
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
    align-items: end;
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
