.AddBook-main {
    background-image: url("https://images.unsplash.com/photo-1658934475116-990b909c3038?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzE0fHxiZWlnZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=600&q=60");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
}

.heading {
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
    align-items: end;
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.ac {
    background-color: rgb(50, 48, 48);
    color: #fff;
  }

  .ac:hover{
    background-color: #b76c80;
    color: #fff;
  }