.cart-items {
    padding: 5% 0;
}

.items {
    display: flex;
    padding: 2rem;
    margin : 2rem 0;
    border: 1px solide black;
    border-radius: 1rem;
}

.cart-img{
    width: 6rem;
}

.item-content {
    padding-left: 2rem;
    padding-top: 10px;
}

.price {
    padding-top: 2rem;
    color : rgb(222, 187, 143);
}