.heading {
    text-align: center;
    justify-content: center;
    align-items: end;
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.items {
    display: flex;
    padding: 2rem;
    margin : 2rem 0;
    border: 1px solide black;
    border-radius: 1rem;
}

.cart-img{
    width: 6rem;
}

.item-content {
    padding-left: 2rem;
    padding-top: 10px;
    color: black;
}

.price {
    padding-top: 2rem;
    color : rgb(222, 187, 143);
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

.cartContainer {
    margin-left: 5rem;
    margin-right: 8rem;
}

ul {
    margin-left: 3rem;
}

.cartTotal {
    margin-top: 2rem;
    margin-left: 2rem;
}

.cartTotalPrice {
    margin-left: 4rem;
}

.cartStatement {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
    text-align: center;
    width: 100%;
}

.reserveButton {
    margin-left: 50%;
    margin-top: 2rem;
    background-color: rgb(247, 171, 209);
}

@media (max-width: 768px) {
    .book-container {
      flex-direction: column;
      justify-content: space-between;
    }
}

.reserveButton {
    background-color: rgb(222, 214, 201);
    color: black;
    width: 6rem;
    height: 3rem;
}